{% extends 'master' %}

{% block content %}

  <div class='content'>
    <h1> Create Task: </h1>

    <form method='POST' action='/tasks'>

      {{ csrfField }}

      <input type='text' name='title' placeholder='Task title' class='input'>
      <textarea name'description' placeholder='Descripion' class='input'>

      <input type='submit' value='Submit'>

    </form>
  </div>

{% endblock %}