{% extends 'master' %}

{% block content %}
  <h1>Login</h1>

  <form method='POST' action='/login'>

    {{ csfField }}

    <input type='email' placeholder='Email' name='email' class='input'>
    <input type='password' placeholder='Password' name='password' class='input'>

    {% if error %}
      <div class='notification is-danger'>{{ error }}</div>
    {% endif %}

  </form>

{% endblock %}