{% extends 'master' %}

{% block content %}
  <section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        TaskList
      </h1>
      <h2 class="subtitle">
        Log in and create your tasks.
      </h2>
      <h3>Created with Adonis.js</h3>
    </div>
  </div>
</section>
{% endblock %}